
li{
    display: flex;
    flex-direction: column;
align-items: flex-start;
padding: 20px;

   
}
.project-item-image{
    width: 250px;
}
.project-item-details-container{
    text-align: justify;
    width: 250px;
}